<li>
    <p>
        <% if((locals.user&&locals.user.id==comment.user._id)||comment.post==post.id){%>
            <small>
                <a href="comments/destroy/<%= comment.id%>">D</a>
            </small>
            <%}%>
                <%= comment.content%>
                    <br>
                    <small>
                <%= comment.user.name%>
            </small>
    </p>
</li>