<li id="comment-<%=comment._id%>">
    <p>
        <% if((locals.user&&locals.user==comment.user._id)||comment.post==post.id){%>
            <small>
                <a class="delete-comment-button" href="comments/destroy/<%= comment._id%>">D</a>
            </small>
            <%}%>
                <%= comment.content%>
                    <br>
                    <small>
                <%= comment.user.name%>
            </small>
    </p>
</li>