<form action="/users/create" method="POST">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="Your Name" required>
    <label for="email">Email</label>
    <input id="email" type="text" name="email" placeholder="email" required>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="password" required>
    <label for="confirm_password">Confirm Password</label>
    <input id="confirm_password" type="password" name="confirm_password" placeholder="Confirm Password" required>
    <button type="submit" value="Sign Up">Sign Up</button>
</form>