<form action="/users/create-session" method="POST">
    <input id="email" type="text" name="email" placeholder="Email" required>
    <input id="password" type="password" name="password" placeholder="password" required>
    <button type="submit">Sign In</button>
</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>