<link rel="stylesheet" type="text/css" href="/css/sign-up.css">
<form id="sign-up" action="/users/create" method="POST">
    <label for="name">Create Account</label>
    <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i><input id="name" type="text" placeholder="Name" name="name" required>
    <i class=' fa fa-user ' aria-hidden='true'></i><input id="email" type="text" placeholder="E-mail" name="email" required>
    <i class=' fa fa-lock ' aria-hidden='true'></i><input id="password" type="password" placeholder="Password" name="password" required>
    <i class=' fa fa-lock ' aria-hidden='true'></i><input id="confirm_password" type="password" placeholder="Confirm Password" name="confirm_password" required>
    <input id="submit" type="submit" value="Signup">
</form>