#sign-up {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-top: 15%;
    label {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
        color: blue;
    }
    input {
        border-radius: 30px;
        margin-bottom: 5px;
        font-size: 1rem;
        padding: 10px;
        padding-left: 30px;
        background-color: rgb(211, 211, 211);
        border: 1px grey solid;
        color: grey;
        outline: none;
    }
    i {
        position: relative;
        left: 15px;
        top: 27px;
        color: grey;
    }
    #submit {
        background: linear-gradient(blue, skyblue);
        font-size: 1.5rem;
        color: black;
        margin-top: 8px;
    }
    a {
        text-align: center;
        font-size: 1rem;
        color: black;
        text-decoration: none;
    }
}