#footer {
  display: flex;
  font-family: Arial;
  font-weight: 300;
  font-size: 0.9rem;
  background: grey; }
  #footer ul {
    list-style: none; }
  #footer li a {
    font-weight: 700;
    font-size: 1.4rem; }
