#header {
  background: linear-gradient(blue, skyblue);
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  height: 5rem;
  color: white; }
  #header h1 {
    display: flex;
    margin-left: 10px; }
  #header ul {
    display: flex;
    justify-content: flex-end;
    margin-top: -55px; }
    #header ul li {
      font-size: 1.8rem;
      margin-right: 20px;
      list-style: none; }
      #header ul li a {
        color: white;
        text-decoration: none;
        font-weight: 900; }
