#sign-in {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 15%; }
  #sign-in label {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: blue; }
  #sign-in input {
    border-radius: 30px;
    margin-bottom: 5px;
    font-size: 1rem;
    padding: 10px;
    border: 1px grey solid;
    background-color: lightgray;
    padding-left: 30px;
    color: grey;
    outline: none; }
  #sign-in i {
    position: relative;
    left: 15px;
    top: 27px;
    color: grey; }
  #sign-in #submit {
    background: linear-gradient(blue, skyblue);
    font-size: 1.5rem;
    color: black;
    margin-top: 8px; }
  #sign-in a {
    text-align: center;
    font-size: 1rem;
    color: black;
    text-decoration: none; }
